@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Inter;
    font-weight: 400;
    src: url("../assets/fonts/inter/Inter-Regular.ttf");
  }
  @font-face {
    font-family: Inter;
    font-weight: 600;
    src: url("../assets/fonts/inter/Inter-SemiBold.ttf");
  }
  @font-face {
    font-family: Inter;
    font-weight: 800;
    src: url("../assets/fonts/inter/Inter-ExtraBold.ttf");
  }

  @font-face {
    font-family: Gilroy;
    font-weight: 500;
    src: url("../assets/fonts/gilroy/Gilroy-Medium.ttf");
  }
  @font-face {
    font-family: Gilroy;
    font-weight: 600;
    src: url("../assets/fonts/gilroy/Gilroy-SemiBold.ttf");
  }
}
